<tr>
    <td>
        <figure class="itemside align-items-center">
            <div class="aside"><img src="{{product.picture.url}}" class="img-sm"></div>
            <figcaption class="info">
                <a href="#" class="title text-dark" data-abc="true">{{product.title}}</a>
                <p class="text-muted small">
                    Size: {{product.size}}
                    <br>
                    {% if product.categoryBreadcrumbs == '' %}
                        Category: -
                    {% else %}
                        Category: {{product.categoryBreadcrumbs}}
                    {% endif %}
                </p>
            </figcaption>
        </figure>
    </td>
    <td>
        <div class="price-wrap">
            <var class="price">€{{product.price}}</var>
        </div>
    </td>
</tr>